body {
    font: 24px Helvetica, sans-serif;
}

form {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

input {
    margin: 1em;
    width: 400px;
    padding: .5em;
    font: 24px Helvetica, sans-serif;
}

textarea {
    vertical-align: top;
    padding: 1em;
    margin: 1em;
    font: 16px Helvetica, sans-serif;
}

.msgBoard{
    margin: 0 auto;
    width: 900px;
}

.msg {
    display: inline-block;
    float: left;
    clear: left;
    margin: 1em;
    border-radius: .5em;
    padding: 1em;
    background: rgba(0,120,220,0.5);
}

/*
===================================================================================================
                              Colors
===================================================================================================
*/






/*
===================================================================================================
                              Layout
===================================================================================================
*/





/*
===================================================================================================
                             Utils
===================================================================================================
*/